body {
  &:not(.home) {
    main {
      margin: 0 auto;
      max-width: 1200px;
    }
  }
  &.home {
    main {
      margin: 0 auto !important;
    }
  }
}

main {
  padding: 0 20px 50px !important;
}

label {
  display: inline-block;
  margin-bottom: 0.5rem;
}

.form-control {
  display: block;
  width: calc(100% - 1.5rem);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  margin-bottom: 20px;
}

.pagination {
  margin: 50px 0 0;
  display: flex;
  justify-content: center;
  a,
  span {
    padding: 10px 5px;
    font-size: 1.2rem;
  }
}

@media screen and (min-width: 1440px) {
  main {
    padding: 0 0 50px !important;
  }
}
