footer {
  > div.wp-block-group {
    padding: 50px 20px;
    .wp-block-columns {
      margin-bottom: 50px;
    }
    > div.wp-block-group {
      max-width: 1200px;
      margin: 0 auto;
    }
  }
}

@media screen and (min-width: 992px) {
  footer {
    > div.wp-block-group {
      padding: 100px 20px;
      .wp-block-columns {
        .wp-block-column {
          flex-basis: auto;
          &:first-of-type {
            width: 35%;
          }
          &:nth-of-type(2) {
            width: 25%;
          }
          &:last-of-type {
            width: 40%;
          }
        }
      }
    }
  }
}
