header {
  > div {
    &.wp-block-group {
      padding: 20px;
      > div {
        &.wp-block-group {
          max-width: 1200px;
          margin: 0 auto;
        }
      }
    }
  }
}

@media screen and (min-width: 600px) {
  header {
    .wp-block-navigation {
      .wp-block-navigation-item__content.wp-block-navigation-item__content {
        padding: 15px;
        color: $white;
        transition: color 0.5s ease-in;
        &:hover {
          color: $primary;
        }
      }
    }
  }
  body {
    &.home {
      header {
        position: absolute;
        background: linear-gradient(
          to bottom,
          rgba($black, 0.6) 0%,
          rgba($black, 0) 100%
        );
        width: 100%;
        z-index: 11;
        > div {
          &.wp-block-group {
            background-color: transparent !important;
          }
        }
      }
    }
  }
}
