@mixin event-card {
  .event-card {
    background-color: $grey;
    padding: 10px;
    &__title {
      font-size: 1.3rem;
      font-weight: 700;
    }
    &__date {
      font-size: 0.9rem;
      font-weight: 300;
      line-height: 1.5;
      margin: 0;
    }
  }
}
