.event-list {
  display: grid;
  max-width: 1200px;
  margin: 0 auto;
  &__filter {
    padding: 0 10px;
    background-color: $grey;
    margin-bottom: 50px;
    .filter_btn {
      display: flex;
      gap: 5px;
      margin-top: 20px;
    }
  }
  &__grid {
    .event-grid {
      display: grid;
      grid-template-columns: 1fr;
      gap: 20px;
      @include event-card;
    }
  }
}

@media only screen and (min-width: 992px) {
  .event-list {
    grid-template-columns: 1fr 3fr;
    grid-column-gap: 30px;
    &__grid {
      .event-grid {
        grid-template-columns: repeat(3, 1fr);
      }
      .event-empty-list {
        p {
          font-size: 1.5rem;
          text-align: center;
        }
      }
    }
  }
}
