// .edit-post-visual-editor__post-title-wrapper {
//   margin-bottom: var(--wp--style--block-gap);
// }

// .editor-styles-wrapper
//   .edit-post-visual-editor__post-title-wrapper
//   > :where(:not(.alignleft):not(.alignright):not(.alignfull)),
// .editor-styles-wrapper
//   .block-editor-block-list__layout.is-root-container
//   > :where(:not(.alignleft):not(.alignright):not(.alignfull)) {
//   font-weight: 400;
//   margin-top: 1.25rem;
//   margin-bottom: 1.25rem;
// }

// .editor-styles-wrapper .has-global-padding {
//   padding-right: var(--wp--style--root--padding-right);
//   padding-left: var(--wp--style--root--padding-left);
// }

// .editor-styles-wrapper {
//   background-color: red;
//   .edit-post-visual-editor__post-title-wrapper {
//     margin-bottom: 24px;
//   }
//   .wp-block-post-title {
//     max-width: 650px;
//     margin-left: auto !important;
//     margin-right: auto !important;
//     font-weight: 400;
//     margin-top: 1.25rem;
//     margin-bottom: 1.25rem;
//   }
// }
